<%= simple_form_for(@user, :url => :update_user) do |f| %>
<fieldset>
  <legend>Edit Profile</legend>
  <div class="row">
    <div class="large-12 columns">
        <%= f.error_notification %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.input :gamecenter_id%>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.submit "Save", :class => "button radius" %>
    </div>
  </div>
<% end %>