<div class="large-4 small-6 columns">
  <img src="http://placehold.it/100x100&text=Thumbnail">

  <div class="panel">
    <h5><%= offer.plane.name %> <%= offer.part.name if offer.part %></h5>
    <h6 class="subheader"><%= offer.user.gamecenter_id %></h6>
    <p><%= offer.comment %></p>
  </div>
</div>